#canvas
{
	border: 10px inset black;
}

#controlsContainter
{
	width: 800px
}

#controlsRow
{
	width: 620px;
}

#controlsItem
{
	float:left;
	border:1px solid black;
	width: 112px;
	height: 50px;
	padding: 5px;
}

#outputField
{
	display: block;
	width: auto;
	padding: 5px;
	margin: 0;
	overflow: auto;
	border:1px solid black;
}